{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="static/js/chat.js"></script>

    <script>
        socket = io()

        var a_chat;



        socket.on('got_chat', function (chat){

           console.log(chat);
           a_chat = new Chat(chat['messages'], chat['room_id'], chat['my_name']);
           a_chat.display();

        });

         socket.on('got_new_message', function (msg){
            if (a_chat !== null){
                a_chat.newMsg(msg);
                a_chat.displayNew();
            }
         });

    </script>
    <style>
        .own{
            margin-left: 25vw;
        }
        .text-message{
            border-radius: 25px;color: azure;display: inline-flex; padding: 10px; padding-left: 30px; padding-right: 30px;margin-top: 20px;text-align: left;background-image: linear-gradient(to bottom right, #5cc0e7, #0247cf);
        }
    </style>
{% endblock %}

{% block main %}

    <button type="button" id="add_room_form_btn" onclick="add_room_form()">create new chat</button>

    <form method="post" id="add_room" hidden="hidden">
        {{ form.hidden_tag() }}

        {{ form.room_name.label }}
        <br>
        {{ form.room_name() }}
        <br>
        <br>
        {{ form.selected_people.label }}
        <br>
        {{ form.selected_people() }}
        <br>
        <br>
        {{ form.submit(onclick="add_room_form(true)") }}
    </form>

    <div id="chat_rooms">
        <ul>
        {% for room in rooms %}
           <li onclick="get_chat({{ room.room_id }})">{{ room.room_name }}</li>
        {% endfor %}
        </ul>
    </div>

     <div id="chat" hidden="hidden">
        <ul id="chat_text"></ul>                <!-- todo scroll up load more messages (ne egyszerre töltse be az összeset)  -->
        <br>
        <br>
        <input type="text" id="msg_input">
        <br>
        <button type="button" onclick="send_msg()">send</button>
     </div>
    <script>
        function send_msg(msg=null){
            let text_input = document.getElementById('msg_input');

            if(msg === null){
                msg = text_input.value;
            }
            if(msg !== ""){
                socket.emit('new_message', {'room_id': a_chat.room_id, 'content': msg});
                text_input.value = "";
            }

        }


        function get_chat(room_id) {
             socket.emit('get_chat', room_id)
           }


        function add_room_form(hide=false) {
            document.getElementById('add_room').hidden = hide;
            document.getElementById('add_room_form_btn').hidden = !hide;

        }

        let text_input = document.getElementById("msg_input");

        text_input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                send_msg();
            }
        });
    </script>

{% endblock %}
