{% extends 'base.html' %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        socket = io()

        var room_id = ''

        socket.on('got_chat', function (chat){

           document.getElementById('chat_rooms').style.display = 'None';
           window.room_id = chat['room_id'];
           console.log(chat);
        });

        function send_msg(msg){
            socket.emit('new_message', {'room_id': window.room_id, 'content': msg})
        }

        function get_chat(room_id) {
             socket.emit('get_chat', room_id)
           }
    </script>
{% endblock %}

{% block main %}

    <div id="chat_rooms">
        <ul>
        {% for room in rooms %}
           <li onclick="get_chat({{ room.room_id }})">{{ room.room_name }}</li>
        {% endfor %}
        </ul>
    </div>
<!--
<script>
    socket.emit('get_rooms')
    socket.on('got_rooms', function (rooms) {
        let ul = document.createElement('ul');
            ul.setAttribute('id','rooms');

            document.getElementById('chat_rooms').appendChild(ul);
            rooms.forEach(renderRoomsList);

            function renderRoomsList(element, index, arr) {
                let li = document.createElement('li');
                li.setAttribute('class', 'item');
                li.addEventListener('click', function (){
                    socket.emit('get_chat', element['room_id']);
                });

                ul.appendChild(li);

                li.innerHTML = li.innerHTML + element['room_name'];
            }
    });
</script>
//-->



{% endblock %}